/* 320px */
.popup__close-button {
  position: absolute;
  background-image: url(../../../images/close-icon.svg);
  background-size: contain;
  top: -36px;
  right: 0;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.popup__close-button:hover {
  opacity: .6;
  transition: opacity .5s ease-in;
}

/* 768px 1024px 1280px */
@media screen and (min-width: 768px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}