/* 320px */
.popup__container {
  position: fixed;
  width: 282px;
  height: 322px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* 768px 1024px 1280px */
@media screen and (min-width: 768px) {
  .popup__container {
    width: 430px;
    height: 330px;
  }
}