/* 320px 768px */
.footer__copyright {
  margin: 0;
  padding: 50px 0 30px 19px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #545454;
}

/* 1024px 1280px */
@media screen and (min-width: 1024px) {
  .footer__copyright {
    padding: 67px 0 60px;
    font-size: 18px;
    line-height: 22px;
  }
}
