/* 320px */
.cards {
  max-width: 282px;
  display: grid;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 20px;
}

/* 768px */
@media screen and (min-width: 768px) {
  .cards {
    gap: 20px 17px;
    max-width: 581px;
  }
}

/* 1024px 1280px */
@media screen and (min-width: 1024px) {
  .cards {
    max-width: 880px;
  }
}