/* 320px 768px */
.profile__text {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0 auto;
  padding: 8px 0 33px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 1024px 1280px */
@media screen and (min-width: 1024px) {
  .profile__text {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    padding: 7px 0 32px;
  }
}