/* 320px 768px */
.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: none;
  cursor: pointer;
  grid-area: edit-button;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: opacity .5s ease-in;
}

/* 1024px 1280px */
@media screen and (min-width: 1024px) {
  .profile__edit-button {
    background-image: url(../../../images/edit-button-big.svg);
    width: 24px;
    height: 24px;
  }
}