/* 320px */
.form__input {
  margin: 0 0 30px;
  padding: 0;
  width: 238px;
  height: 27px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit; 
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: 0;
}

/* 768px 1024px 1280px */
@media screen and (min-width: 768px) {
  .form__input {
    width: 358px;
  }
}