.profile__image {
  position: relative;
  background-image: url();
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  grid-area: image;
  margin: auto;
  z-index: 0;
  cursor: pointer;
}

.profile__image::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
}

.profile__image:hover::before {
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/avatar-edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color .5s ease-in;
}