/* 320px */
.popup__container {
  position: relative;
  width: 282px;
  max-height: 322px;
  min-height: 181px;
  background-color: #fff;
  border-radius: 10px;
}

/* 768px 1024px 1280px */
@media screen and (min-width: 768px) {
  .popup__container {
    width: 430px;
    max-height: 330px;
    min-height: 181px;
  }
}
