/* 320px 768px */
.profile__add-button {
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  width: 282px;
  height: 50px;
  margin: 0 auto;
  background-color: #000;
  border: none;
  cursor: pointer;
  grid-area: add-button;
}

.profile__add-button:hover {
  opacity: .6;
  transition: opacity .5s ease-in;
}

/* 1024px 1280px */
@media screen and (min-width: 1024px) {
  .profile__add-button {
    background-image: url(../../../images/add-button-small.svg);
    width: 150px;
    margin-right: 0;
  }
}