@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__card/photo-grid__card.css);
@import url(../blocks/photo-grid/__items/photo-grid__items.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);
@import url(../blocks/photo-grid/__group/photo-grid__group.css);
@import url(../blocks/photo-grid/__title/photo-grid__title.css);
@import url(../blocks/photo-grid/__like-button/photo-grid__like-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);