.card__delete-button {
  position: absolute;
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.card__delete-button:hover {
  opacity: .6;
  transition: opacity .5s ease-in;
}