.popup__text {
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
  border: 0;
  background-color: transparent;
  text-align: left;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}